@model DA2_2017_LABCOMPRAS.Models.ContaBancaria
@{
    Layout = "NewLayout";
}

<div class="container">
    <div class="jumbotron">
        <p> @ViewBag.Texto</p>
    </div>
   
        <div class="well">
        <form asp-action="NovaContaBancaria" asp-controller="ContaBancaria" method="post">
            <div asp-validation-summary="All"></div>
            <p>
                <label asp-for="NomeTitular">Nome Titular</label>
                <input asp-for="NomeTitular" required />
            </p>
            <p>
                <label asp-for="Saldo">Saldo:</label>
                <input asp-for="Saldo" required />
            </p>
            <p>
               <label asp-for="Ativa">Ativa</label>
                <select asp-for="Ativa">
                    <option value="true">Sim</option>
                    <option value="false" selected>Não</option>
                </select>
            </p>
     
            <button type="submit">Confirmar Dados</button>
        </form>
    </div>

</div>