@{
    Layout = "NewLayout";
}
    <div class="container">
        <div class="jumbotron">
            <p> @ViewBag.Texto</p>
        </div>
        <a asp-action="Conceito">Conceito</a>
        <a asp-controller="Despesas">Despesas</a>
        <a asp-controller="ContaBancaria">Conta Bancária</a>
        <a asp-action="Tempo">Tempo</a>
           </div>


