@{
    Layout = "NewLayout";
}
<div class="container">
    <div class="jumbotron">
        <p> @ViewBag.Texto</p>
    </div>

    <button asp-action="NovaDespesa" class="btn btn-default">
        <span class="glyphicons glyphicons-plus-sign"> </span>
            Despesas     
    </button>


</div>
